ZHIPU_API_KEY = 
ZHIPU_BASE_URL=https://open.bigmodel.cn/api/paas/v4/
LLM_MODEL=glm-4.5-flash

JINA_API_KEY= 
JINA_EMBEDDING_MODEL=jina-embeddings-v3

CHROMA_PERSIST_DIR=./storage/chroma_db
CHROMA_COLLECTION_NAME=company_docs

CHUNK_SIZE_TOKENS=500
CHUNK_OVERLAP_TOKENS=50

# number of retrievals
TOP_K=5 